body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header, #recommendations-section, #search-section, #signup-section, #results-section {
    width: 80%;
    max-width: 600px; 
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Ajusta a direção do flex para coluna */
    align-items: center; 
}

#logo {
    height: 130px;
    width: 90px;
}

h2 {
    color: #ffaa00;
}

#recommendations {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Faz com que a seção de recomendações ocupe toda a largura do contêiner */
}

#recommendations div, #results-section div {
    margin: 10px;
    text-align: center;
}

img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

button {
    cursor: pointer;
    background-color: #ffaa00;
    color: white;
    border: none;
    border-radius: 4px;
}
